
.gallery{
    border: 1px solid #ccc;
    background-color: #95dada;
    width: 14rem;
    height: 16.5rem;
    overflow: hidden;
    margin: auto;
    
    &:hover {
      border: 0.25rem solid #f3f0eebf;
      border-radius: 0.5rem;
    }
    img {
      max-width: 100%;
      height: auto;
      padding: 0.5em 0.5em 0;
      margin-right: auto;
      margin-left: auto;
      display: block;
    }
    .desc {
      padding: 0.025em;
      text-align: center;
    }
}
  
  
  
  