#submit-btn{    
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 28%;
}
span.alert{
    padding: .35rem 1rem;
    width: 100%;
}